h1 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 18px;
}

input {
  margin: 0.2rem;
}

section {
  width: 40%;
}

button {
  font-size: 19px; 
}

textarea {
  resize: none;
  width: 70%
}

h4 {
  font-size: 22px;
}

.image {
    float: left;
}

.description {
    float: left;
}

.item {
    display:flex;
    width: 100%;
    margin: 10px;
    font-size: 19px;
}

.shop {
  margin: 5px;
  font-size: 15px;
}

.product {
  margin-left:5px;
  font-size: 22px;
}

.pieces {
  margin-left: 20px;
}

.su {
  margin-right: auto;
}

.button2 { 
    /* ブロック要素にして中央寄せにした */
    display: block;
    margin: auto;
    width: 12em;
    height:3em;
    font-size: 23px;
    border-radius:13px;
    border: none;
    background-color: #8B4513;
    color: #FFFFFF;
}

.radio {
    font-size: 18px;
    text-align: left;
}

  .place {
    font-size: 10px;
    text-align: left;
  }

  .order {
    text-align: center;
    font-size: 20px;
  }

  .home {
    text-align: center;
    font-size: 20px;
  }

  .menu {
    position:sticky;
    bottom: 0;
    width: 100%;
    height: 80px;
    display: block;
    text-align: center;
    background-color: #fff8e8;
  }

  .dele{
    border: none;
    background-color: transparent;
    color:rgb(8, 123, 255);
    cursor: pointer;
    text-decoration: none;
  }

  .btndelete {
    margin-top: 10px;
  }

  .button3 {
    font-size: 25px;
    width:35px;
    height:35px;
    background:rgba(224, 198, 164, 0.989);
    border-radius:20px;
  }

  .maru {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    flex-flow: column; 
    vertical-align: top;
  }
  .size_normal{
    width: 34px;
    height: 34px;
  }
  .letter3 {
    font-size: 23px;
    line-height: 0em;
  }
  .black1 {
    color: black;
    border: 2px solid black;
    background-color: rgba(224, 198, 164, 0.989);
  }
  
  .information {
    color: #000000;
    text-decoration: none;
}