h1 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 18px;
}

.image {
    float: left;
}

.description {
    float: left;
}

section {
    font-size: 19px; 
    float: left;
}

div {
    text-align: right;
    font-size: 18px; 
}

button {
    font-size: 19px; 
}

.button2 { 
    /* ブロック要素にして中央寄せにした */
    display: block;
    margin: auto;
    width: 10em;
    height:3em;
    font-size: 19px;
}

.radio {
    font-size: 16px;
    text-align: left;
}

input {
    margin: 0.2rem;
  }