h2{
    position: relative;
    top: 200px;
    text-align: right;
}

h3{
    font-size: 24px;
    margin: 0.1em;
}

p{
    font-size: 20px;
    margin: 0.1em;
}

.gazou{
    position: relative;
    top: 100px;
    text-align: center;
}
.shohin1{
    position: relative;
    top: 200px;
}

.shohin2{
    position: relative;
    top: 200px;
    text-align: center;
}

.error{
    top:200px;
    color:rgb(255, 0, 0);
    font-size: 200%;
}

.tree{
  top:200px;
  font-size: 200%;
}

.cartin {
    font-size: 23px;
    width: 230px;
    padding: 15px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius:0.7rem;
    color: #fff;
    background: #8B4513;
}

.searchbutton{
    font-size: 20px;
    width: 150px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius:0.7rem;
}

.best{
    text-align: left;
    font-size: 22px;
    font-weight: bold;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
  }
  
  .btn,
  .btn,
  .btn {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
  }
  

  .btn-tag {
    padding: 1.25rem 3rem 1.25rem 80px;
    color: #fff;
    background: #8B4513;
  }
  
  .btn-tag:before {
    position: absolute;
    top: 0;
    left: 0;
  
    width: 50px;
    height: 100%;
  
    content: "";
  
    border-radius: 0.5rem 0 0 0.5rem;
    background: rgba(0, 0, 0, 0.07);
  }
  
  .btn-tag:hover {
    color: #fff;
    background: rgb(188,158,135);
  }
  
  .btn-tag i {
    font-size: 120%;
  
    position: absolute;
    top: 0;
    left: 0;
  
    width: 50px;
    padding: 1.5rem 0;
  
    text-align: center;
    letter-spacing: 0;
  }
  .container {
    text-align: right;
  }