.gazou{
    position: relative;
    top: 100px;
    text-align: center;
}
.shohin1{
    position: relative;
    top: 200px;
}

.shohin2{
    position: relative;
    top: 200px;
    text-align: center;
}

.error{
    top:200px;
    color:rgb(255, 0, 0)
}

h2{
    position: relative;
    top: 200px;
    text-align: right;
}

