h1 {
    text-align: center;
}

table {
    margin: auto;
    width: 400px;
}

.td1 {
    width: 150px;
    height: auto;
}

.td2 {
    width: 200px;
    height: auto;
    padding-left: 20px;
}

img {
    width: 150px;
    height: auto;
}

.information {
    color: #000000;
    text-decoration: none;
}

/* 
h1{
    text-align: center;
    width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.favorite{
    width: 500px; margin: 4% auto;
    
    }
    .item{
    display: flex;
    grid: 1fr / 1fr 2fr;
    margin: 16px;
    }
    .item img{
    width: 200px ; height: 150px;
    }
    .item_detail{
    padding: 0 16px ;
    }
    .item_detail .item_name{
    font-size: larger;
    font-weight: bold;
    }
    .item_detail .shop_name{
    font-size: large;
    }
    .item_detail .price{
    color: red;
    }

    .search2{
        width: 5em;
        height:3em;
    } */