.Header{
    position: fixed; /*ヘッダーを固定*/
    width: 100%;
    height: 30px;
    top: 0; /*上部から配置の基準位置を決める*/
    left: 0; /*左から配置の基準位置を決める*/
    padding: 10px; /*ヘッダーの余白を指定する（上下左右）*/
    background-color: #8B4513;
    color: #FFFFFF;
    font-family: serif; /*フォント変更*/
    font-size: 20px;
    text-align: center;
    /* display: flex;
     justify-content: space-between; */
}

body{
    background-color: #FFF8E8;
}