.review1{
    position:relative;
    border: solid 3px #333;
    background-color: white;
    top: 40px;
}
.hed{
    position:relative;
    text-align: center;
    top: 30px;
}
.shohin{
    position: relative;
    text-align: center;
}
.title{
    position: relative;
    text-align: center;
    top: 6px;
}
.honbun{
    position: relative;
}
.review3{
    text-align: center;
}
.kakunin{
    width: 12em;
    height: 3em;
    display: block;
  margin: auto;
   
}
.rate-form {
    
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: fit-content;
    margin: 0 auto;
  }
  .rate-form input[type=radio] {
    display: none;
  }
  .rate-form label {
    position: relative;
    padding: 0 5px;
    color: #ccc;
    cursor: pointer;
    font-size: 35px;
  }
  .rate-form label:hover {
    color: #ffcc00;
  }
  .rate-form label:hover ~ label {
    color: #ffcc00;
  }
  .rate-form input[type=radio]:checked ~ label {
    color: #ffcc00;
  }
  .content{
    
    width: fit-content;
    margin: 0 auto;

  }

  .review-ok{
    position: relative;
    text-align: center;
    top: 250px;
  }
   
  .rate-form-kakunin {
    
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: fit-content;
    margin: 0 auto;
  }
  .rate-form-kakunin input[type=radio] {
/* ? */
    display: none;
  }
  .rate-form-kakunin label {
    position: relative;
    padding: 0 5px;
    color: #ffcc00;
    /* color: #ccc; */
    cursor: pointer;
    font-size: 35px;
  }
  .rate-form-kakunin input[type=radio]:checked ~ label {
    /* ? */
    color: #ffcc00;
  }
