h1 {
    text-align: center;
}

button {
    top: -2px;
    padding: 8px 16px;
    font-size: 17px;
}

.checkp{
    width:16em;
    margin: 20px auto 10px;
}

.checkbutton{
    text-align: center;
}

.content{
    width: fit-content;
    margin: 0 auto;
}