body {
    display: flex; /*サイドバーとメインコンテンツを横並びにする指定をした。*/
    background-color: #fff8e8;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

table {
    border-collapse: collapse; /* セルの線を重ねる */
    margin: auto;
}

th {
    background-color: #884513;
    color: #ffffff;
    border: solid 1px; /* 枠線指定 */
    padding: 5px; /* 余白指定 */
    position: sticky;
}

td {
    border-color: #fff;
    border: solid 1px #fff; /* 枠線指定 */
    padding: 5px; /* 余白指定 */
}

/*奇数行のスタイル*/
table.table-color tr:nth-child(odd){
    background-color: rgb(188, 158, 135)
}

/*偶数行のスタイル*/
table.table-color tr:nth-child(even){
    background-color: #fff;
}

table.product {
    border: none;
}

/*classのcss*/
.side { /*menu.php*/
    background-color: #fff;
    width: 150px;
    height: 300px;
    text-align: center;
}

.menu-btn {
    display: inline-block;
    padding: 10px 1em;
    text-decoration: none;
    color: #cb9854;
    border: solid 2px #fff;
    border-radius: 3px;
    transition: .4s;
}

.menu-btn:hover {
    background: #884513;
    color: white;
}

.table-center {
    text-align: center;
}

.table-right {
    text-align: right;
}

.table-a {
    width: 100px;
}

.table-b {
    width: 200px;
}

.table-c {
    width: 300px;
}

.link {
    margin-top: 100px;
}

button.link2 {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 15px;
    color: #0033cc;
}

button.link2:hover {
    text-decoration: underline;
    color: #002080;
}

.mdr {
    position: relative; /* 今の位置を基準 */
    left: 150px;
}

.main {
    width: 100%;
    text-align: center;
    align-items: center;
}